
@model FormViewModel 
@{
    ViewData["Title"] = "Delete";
} 
<h1>Delete - Form Details</h1>
<div class="row">
    <div class="col-md-5">
        @*<div asp-validation-summary=""></div>*@
        <ul class="list-group">
            <li class="list-group-item"><b>FirstName :</b> @Model.FirstName</li>
            <li class="list-group-item"><b>Last Name :</b>@Model.LastName</li>
            <li class="list-group-item"><b>Address:</b>@Model.Address</li>
            <li class="list-group-item"><b>DateOfBirth :</b>@Model.DateOfBirth</li>
            <li class="list-group-item"><b>Father Name :</b>@Model.FatherName</li>
            <li class="list-group-item"><b>Mother Name :</b>@Model.MotherName</li>
            <li class="list-group-item"><b>City:</b>@Model.City</li>
            <li class="list-group-item"><b>State :</b>@Model.State</li>
            <li class="list-group-item"><b>Qualification:</b>@Model.Qualification</li>
            <li class="list-group-item"><b>Entrance Test Score:</b>@Model.EntranceTestScore</li>
            <li class="list-group-item"><b>Mobile No :</b>@Model.PhoneNumber</li>
            <li class="list-group-item"><b>Email Id:</b>@Model.EmailId</li>
        </ul>
        <div>
            Are sure do you want to delete this data?
        </div>
        <div>
            <form asp-controller="AdmissionForm" asp-action="Delete" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>  
            <a asp-controller="AdmissionForm" asp-action="Index">Back to List</a>
    </div>
</div>

